#aboutme{
	margin: auto;
	width: 60%;

}


#abouttext p{
	float: left;
	line-height: 2.5em;
	margin-top: 10%;
	margin-bottom: -17px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	font-size: 16px;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}

