body {
	margin: 0;
	background: white;
	font-family: 'Chaparral Pro Caption', sans-serif;
}

.top-nav {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100vw;

}

.top-nav li {
	display: inline;
	
}

.top-nav a {
	text-decoration: none;
	display: inline-block;
	padding: 1vw;
	font-size: (.2vw + 1vh);
	color: black;
}

.top-nav a:hover {
	color: #ffcc66;
}

#main-nav-bar {
	position: fixed;
	height: 100vh;
	width: 16vw;
	text-align: center;
}

.main-nav hr {
	border-style: dotted;
}

.main-nav {
	padding: .3vw;
	margin: 0;
}

.main-nav li {
	display: block;
	padding: 30px;
}

.main-nav li a:hover {
	color: #ffcc66;
	margin: 0;

}

.main-nav a {

	font-size: 1vw;
	text-decoration: none;
	color: black;
}

#name a{
	font-size:1.5vw; /*will replace with a logo?*/
	color: black;
	text-decoration: none;
}

#name a:hover {
	color: #ffcc66;
	font-weight: bold;

}

#right-nav-bar {
	float: right;
	position: calc(2vw + 5vh);
}

.right-nav {
	margin: 0;
	position: fixed;

}

.right-nav li {
	top: 15vh;
	display: block;
	position: relative;
	right: 20vw;
}

.right-nav a {
	font-size: calc(.3vw + 1vh + 1vmin);
	text-decoration: none;
	color: black;
}

.content {
	width: 45vw;
	/*width: 36vw;*/
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

.content p {
	text-align: left;
	color: black;
	width: 45vw;
}

.content h1 {
	/*font-size: 1vw;*/
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100vw;
}

.content h3 {
	font-size: 2vw;
}

.content img {
	position: relative;
	padding: 5vh;
	width: 40vw;

}

#background {
	margin-top: .01vh;
	height: 500vh;
}

#research {
	margin-top: .01vh;
	height: 500vh;
}

#design {
	margin-top: .01vh;
	height: 500vh;
}

#prototype {
	margin-top: .01vh;
	height: 500vh;
}

#about-me {
	width: 36vw;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

.gallery-content {
	height: 36vh;
	display: table;
	margin: 0 auto;
	color: black;
	margin-bottom: 100px;
}

.gallery-content ul{
	min-width: 5vw;
	list-style: none;

}

.gallery-content li {
	display: inline-block;
	position: relative;

}

.gallery-content a {
	text-decoration: none;
	display: inline;
}

.gallery-content h2 {
	margin: 0;
	padding: 6.5vh;
	text-align: center;
}

#text-size {
	margin-left: 15vw;
	padding: 0;
	width: 60vw;
	margin-right: 5vw;
}

#p5Container {
	margin: 0;
	position: fixed;
	padding: 0;
	width: 100vw;
	margin-bottom: 100px;
}

.overlay {
	position: relative;
	font-size: 1.1vw;
	text-align: center;

}

.overlay img {
	float: left;
	padding: .2vw;
	padding-bottom: 5vh;
	width: 30vw;
}

#overlay caption {
	position: inline-block;

}

.bottom-nav {
	visibility: hidden;
}


@media only screen and (max-width: 700px) {
	body {
		margin: 0;
		padding: 0;
	}

	#main-nav-bar {
		display: none;
	}

	/*#mobile-nav-bar {
		padding-top: 5vh;
	}*/
	
	.bottom-nav {
		position: fixed;
		visibility: visible;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100vw;
		bottom: 5vh;

	}

	.bottom-nav li {
		list-style: none;
		display: inline;
		padding: 10px 10px 10px 10px;
		border: 1px solid;
		border-color: black;
		border-spacing: .1vw;
		background-color: white;

	}

	.bottom-nav a {
		color: black;
		text-decoration: none;
		font-size: 4vw;
		text-align: center;
		text-decoration: none;
		padding: 0px 5px 0px 5px;

	}

	.gallery-content {
		margin: 0;

	}

	.gallery-content ul{
		margin: 0;
		padding: 0;
		min-width: 5vw;
		list-style: none;

	}

	.gallery-content li {
		margin: 0;
		width: 50vw;
		position: relative;
	}

	.gallery-content a {
		text-decoration: none;
		display: inline;

	}

	.gallery-content h2 {
		margin: 0;
		left: 20vw;
		text-align: center;
	}

	.overlay {
	left: 20vw;
	font-size: 3vw;
	text-align: center;
			margin-bottom: 15vh;

}

	.overlay caption {
		font-size: .2vw;
		left: 25vw;

	}

	.overlay img {

		width: 60vw;
		padding: 2px;
	}

	

	#p5Container {
		display: none;
	}

	#right-nav-bar {
		display: none;
		float: right;
}

	.content {
		margin: 0;
		width: 100%;
		color: black;

	}

	.content p {
		margin: 0;
		color: black;
		font-size: 3vw;
	}

	.content h1 {
		margin: 0;
		padding: 0;
		text-align: center;
		width: 60vw;
	}

	.content h3 {
		font-size: 4vw;

	}

	.content img {
		position: relative;
		/*padding: 5vh;*/
		width: 70vw;

	}

	#background {
		margin-left: 5vw;
		margin-right: 3vw;
		margin-top: 10vh;
		height: 100vh;
	}

	#research {
		margin-left: 5vw;
		margin-right: 3vw;
		margin-top: 10vh;
		height: 250vh;
	}

	#design {
		margin-left: 5vw;
		margin-right: 3vw;
		margin-top: 10vh;
		height: 270vh;
	}

	#prototype {
		margin-bottom: 20vh;
		margin-left: 5vw;
		margin-right: 3vw;
		margin-top: 10vh;
		height: 100vh;
	}

	#prototype video {
		width: 90vw;
	}

	#text-size {
	margin-left: 15vw;
	margin-right: 5vw;
	padding: 0;
	width: 60vw;
	}

	#text {
		margin-right: 5vw;
	}
}
