#aboutme {

	display: inline-block;
	line-height: 2.5em;
	margin-top: 52px;
	margin-bottom: -17px;
}

#abouttext {
	padding-left: 24%;
	padding-right: 24%;
	text-align: left;
	text-decoration: none;
	font-size: 18px;
}
