

#uxcontent {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
}

.uxnavbar {
	background: #c64b20;
	top: 30%; 
    position:fixed;
	left: 0%;
	width: auto;
	height: 3.5rem;
	z-index: auto;
}
.uxnavbar ul {

	float: left;
	list-style: none;
	text-align: center;
}

.uxnavbar ul li:nth-child(4n+1), #main .panel:nth-child(4n+1) {
	background: rgb(0,180,255);
}

.uxnavbar ul li:nth-child(4n+2), #main .panel:nth-child(4n+2) {
	background: rgb(255,65,180);
}
.uxnavbar ul li:nth-child(4n+3), #main .panel:nth-child(4n+3) {
	background: rgb(0,255,180);
}
.uxnavbar ul li:nth-child(4n+4), #main .panel:nth-child(4n+4) {
	background: rgb(159,180,55);
}

.uxnavbar ul li {
	display: inline-block;
	margin: 0;
	padding: 0;

}

.uxnavbar ul li a {
	display: inline;
	margin: 0 0 0 1px;
	padding: 3px 10px;
	background: #c64b20;
	color: white;
	text-decoration: none;
	line-height: 1.3em;
	z-index: auto;
}

.panel {
	vertical-align: middle;
	margin-top: 150px;
	margin-bottom: -17px;
	width: 50%;
	height: 50%;
	z-index: auto;
	-webkit-transform: translateZ(0);
	transform: translateZ;
	-webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.uxnavbar ul li a:hover {
	color: #a1c6b3;
}

#top {
	float: right;
	background: #a1c6b3;
	margin-right: 20%;
	text-decoration: none;
	font-size: 36px;
}

/*.panel p {
	text-align: left;
	display: inline-block;
}*/
/*.uxnavbar {
	width: 50%;
	padding-top: .5rem;

}*/
/*.uxnavbar ul{
	list-style: none;
	width: inherit;
	margin: 0;
}*/




/*nav ul li a {
	color: #fff;
	text-decoration: none;
}

.panel {
	width: 100%;
	height: 100%;
	z-index: 0;
	-webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.panel h1 {
	font-family: 'Letter Gothic Std', sans-serif;
	font-size: 64px;
	font-size: 4rem;
	color: #fff;
	position: relative;
	line-height: 200px;
	top: 33%;
	text-align: center;
	margin: 0;
}*/

a[ id="nicu"]:target ~ #main article.panel {
	-webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id="problem"]:target ~ #main article.panel {
	-webkit-transform: translateY( -500px);
    transform: translateY( -500px );
}
a[ id="research"]:target ~ #main article.panel {
	-webkit-transform: translateY( -1000px);
    transform: translateY( -1000px );
}
a[ id="testing"]:target ~ #main article.panel {
	-webkit-transform: translateY( -1500px);
    transform: translateY( -1500px );
}
/*
#uxnav a {
	text-decoration: none;
	text-align: left;
	color: white;
}

#uxnav a:hover {
	color: #a1c6b3;
}



